MigradorLaRural/xml-resources/web-service-references/aprcinscotizacionplan_ren_ws/wsdl/192.168.1.113_8080/LaruralJavaEnvironment/servlet/aprcinscotizacionplan_ren_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="prcInsCotizacionPlan_Ren_WS" targetNamespace="Larural" xmlns:wsdlns="Larural" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="Larural">
	<types>
		<schema targetNamespace="Larural" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="prcInsCotizacionPlan_Ren_WS.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Lrcotizacionnro" type="xsd:long"/>
						<element minOccurs="1" maxOccurs="1" name="Lrcotizacionversion" type="xsd:long"/>
					</sequence>
				</complexType>
			</element>
			<element name="prcInsCotizacionPlan_Ren_WS.ExecuteResponse">
				<complexType>
					<sequence>
						<element name="retval" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="prcInsCotizacionPlan_Ren_WS.ExecuteSoapIn">
		<part name="parameters" element="tns:prcInsCotizacionPlan_Ren_WS.Execute"/>
	</message>
	<message name="prcInsCotizacionPlan_Ren_WS.ExecuteSoapOut">
		<part name="parameters" element="tns:prcInsCotizacionPlan_Ren_WS.ExecuteResponse"/>
	</message>
	<portType name="prcInsCotizacionPlan_Ren_WSSoapPort">
		<operation name="Execute">
			<input message="wsdlns:prcInsCotizacionPlan_Ren_WS.ExecuteSoapIn"/>
			<output message="wsdlns:prcInsCotizacionPlan_Ren_WS.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="prcInsCotizacionPlan_Ren_WSSoapBinding" type="wsdlns:prcInsCotizacionPlan_Ren_WSSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="Laruralaction/APRCINSCOTIZACIONPLAN_REN_WS.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="prcInsCotizacionPlan_Ren_WS">
		<port name="prcInsCotizacionPlan_Ren_WSSoapPort" binding="wsdlns:prcInsCotizacionPlan_Ren_WSSoapBinding">
			<soap:address location="http://192.168.1.113:8080/LaruralJavaEnvironment/servlet/aprcinscotizacionplan_ren_ws"/>
		</port>
	</service>
</definitions>
